<%= render "navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://itpworld.files.wordpress.com/2013/12/cinema-paradiso-poster-636-220-slice.jpg?w=640'); position: relative;">
  <div class="container">
    <% if @present.present? %>
      <h1 style="font-family: 'Fascinate', cursive;">Lists corresponding to the search</h1>
    <% else %>
      <h1 style="font-family: 'Fascinate', cursive;">All lists</h1>
    <% end %>
    <% if @lists.count == 1 %>
      <p><%= @lists.count %> List</p>
    <% else %>
      <p><%= @lists.count %> Lists</p>
    <% end %>
  </div>
  <button type="button" class='btn btn-outline-light mt-3' data-toggle="modal" data-target="#exampleModal" style='position: absolute; bottom: 20px; right: 20px;' >
  Create a new list
  </button>
</div>

<div class="container mt-5">
  <div class="row" style="justify-content: center; align-items: center;">
    <form class="flex form-inline">
      <input class="form-control mr-1" name="query" type="search" placeholder="Type of movies" aria-label="Search" value="<%= params[:query] %>" style="background-color: #141414;">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container mt-5">
  <div class="row mb-5">
    <% @lists.each do |list| %>
      <div class="col-sm-12 col-md-6 col-lg-4" style="text-decoration: none;">
        <%= link_to list_path(list), style: 'text-decoration: none;' do %>
          <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attachment == nil ? 'https://source.unsplash.com/random' : (cl_image_path list.photo.key, crop: :fill) %>')">
           <p style="font-family: 'Fascinate', cursive;"><%= list.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: black;">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <div class="container mt-5" style="color: white; justify-content: center; align-items: center;">
          <div class="row">
            <div class="col">
              <h1 style="font-family: 'Fascinate', cursive;">Create a list</h1>

              <%= simple_form_for @list do |f| %>
                <%= f.input :name %>
                <%= f.input :photo, as: :file %>
                <%= f.submit class: 'btn btn-outline-light mt-3' %>
              <% end %>
              <%= link_to "Cancel", lists_path, class: 'btn btn-outline-dark mt-3' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




