<%= render "navbar" %>

<div class="container mt-5 addflat" style="color: white;">
  <div class="row">
    <div class="col">
      <h1 style="font-family: 'Fascinate', cursive;">Create a new list</h1>

      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-outline-light mt-3' %>
      <% end %>
      <%= link_to "Cancel", lists_path, class: 'btn btn-outline-dark mt-3' %>
    </div>
  </div>
</div>
