<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Baptiste Cinema</a><i class="material-icons">movie</i>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto flex">
      <%= link_to "Add new list", new_list_path, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2' %>
    </div>
  </div>
</nav>

<div class="container mt-5 addflat">
  <div class="row">
    <div class="col">
      <h1>Create a new list</h1>

      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-outline-primary mt-3' %>
      <% end %>
      <%= link_to "Cancel", lists_path, class: 'btn btn-outline-danger mt-3' %>
    </div>
  </div>
</div>
