<%= render "lists/navbar" %>

<div class="container mt-5 addflat" style="color: white;">
  <div class="row">
    <div class="col">
      <h1 style="font-family: 'Fascinate', cursive;">Add a new movie to the database</h1>

      <%= simple_form_for @movie do |f| %>
        <%= f.input :title %>
        <%= f.input :overview %>
        <%= f.input :rating %>
        <%= f.input :poster_url %>
        <%= f.submit class: 'btn btn-outline-light mt-3' %>
      <% end %>
      <%= link_to "Cancel", lists_path, class: 'btn btn-outline-dark mt-3' %>
    </div>
  </div>
</div>
